<div class="col-lg-12">
  <div class="card mt-3 text-center">
    <div class="card-body">
      <h4 class="card-title">Create new employee</h4>
    </div>
  </div>

  <%= render 'form', employee: @employee, button_text: "Create Employee" %>
</div>
