<div class="col-lg-10 mx-auto">
  <h1 class="text-center">Contact us</h1>
  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Debitis accusamus est soluta molestiae
    cumque id suscipit ea deserunt sed consequatur, error at sapiente libero
    quas unde exercitationem amet tempore dolore?
  </p>

  <p class="lead">
    This is a simple hero unit, a simple jumbotron-style component for calling
    extra attention to featured content or information. Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Debitis accusamus est soluta molestiae
    cumque id suscipit ea deserunt sed consequatur, error at sapiente libero
    quas unde exercitationem amet tempore dolore?
  </p>
</div>
